@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-sidebar: #0B0F1A;
  --color-sideitem-active: rgba(12, 37, 229, 0.25);  
}

.root-bg {
  background: linear-gradient(135deg, #0B0F1A, #263243);
}

html,
body {
  @apply bg-white dark:bg-gray-950 ;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.card-primary {
  @apply rounded-xl bg-gradient-to-br from-[#364A69] to-[#1D2D59] px-5 py-5 shadow shadow-gray-900
}

.form-control {
  @apply  bg-slate-900 w-full rounded py-1 transition-all text-lg px-2 
}

.form-control:focus {
  @apply outline-1 outline-white ps-3
}

.black-bg {
  @apply bg-gradient-to-br from-[#263243] to-[#0B0F1A]
}

.table-primary {
    min-width: 60em;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-primary.five-col tr th:nth-child(1) {
  @apply min-w-10 w-10
}

.table-primary.five-col tr th:nth-child(3) {
  @apply min-w-40 w-40
}

.table-primary.five-col tr th:nth-child(4) {
  @apply min-w-20 w-20
}

.table-primary.five-col tr th:nth-child(5) {
  @apply min-w-40 w-40
}

.table-primary th,
.table-primary td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 12px;
    text-align: left;
}

.table-primary th {
    background-color: rgba(0, 0, 0, 0.3);
}

h3.title {
  @apply text-xl font-semibold 
}

.running {
  @apply text-yellow-300
}

.available {
  @apply text-green-400
}

.button-primary {
  @apply bg-blue-800 hover:bg-blue-700 active:bg-blue-900 cursor-pointer px-5 py-2 rounded
}

.table-container {
  @apply overflow-x-auto w-[75vw] 2xl:w-full 
}

.back-button {
  @apply       bg-gradient-to-br from-slate-600 to-slate-800 
      hover:from-slate-500 hover:to-slate-600
      active:from-slate-500 active:to-slate-800 
      transition-all px-5 py-2 rounded
}

div {
}

small {
  @apply font-light text-xs text-neutral-300
}

.label {
  @apply mb-1
}